body {
    font-family: Poppins;
}
#title { 
    background-color: #ce0d0d;
    padding: 1.5%;
}
.nav-item {
    margin-right: 10px;
    margin-left: 10px;
}
.nav-link {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    font-weight: 500;
}
.nav-link:hover {
    color: white;
    transition: 0.1s;
}
.navbar-brand {
    color: rgba(255, 255, 255, 0.593);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 3%;
}
.navbar-brand:hover {
    transition: 0.2s;
    color: white;
}
.heading {
    color: white;
    padding: 5%;
    font-weight: 600;
    font-size: 3rem;
    margin-top: 30px;
}
.subhead {
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-bottom: 10%;
}
.title-img {
    width: 80%;
    margin-left: 60px;
}
@media (max-width:989px) {
    .navbar {
        text-align: center;
    }
    .heading {
        text-align: center;
        line-height: 1.3;
    }
    .title-img {
        margin-left: 35px;
    }
    .subhead {
        text-align: center;
    }
}